@charset "UTF-8";

.no-error{
	border: none;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../images/wizard-city.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#login-container{
	background-color: White;
	margin: 5% 30% 5% 30%;
	padding: 1%;
	width:40%;
	border-radius: 20%;
	border: 1px solid Black;
	box-shadow: 42px 24px 5px 0px rgba(0,0,0,0.75);
	text-align: center;
}

#aspirant_container{
	background-color: White;
	width: 60%;
}

.error-field{
	border: 1px solid red;
}

.uniqueMessage{
	display:none;
}

.error-border{
	border: 1px solid red;
}